<section class="page">
    <header class="header">1</header>
    <section class="content">
        <div>start</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>测试</div>
        <div>end</div>
    </section>
    <footer class="footer">
        <div class="footer-nav">
            <div>主页</div>
            <div>首页</div>
            <div>我的</div>
        </div>
    </footer>
</section>
