.container {
    .title {
        margin-bottom: 10px;
    }
    .sub-title {
        margin-bottom: 5px;
    }

    .section {
        margin-bottom: 10px;
        display: flex;
        border-bottom: 1px solid #dcdcdc;
        .item {
            width: 80px;
            height: 80px;
            margin: 10px;
            background: #8cacea;
        }
    }
}
